<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>faAllotment</key>
        <array>
            <integer>194</integer>
            <integer>357</integer>
            <integer>511</integer>
            <integer>649</integer>
            <integer>771</integer>
            <integer>925</integer>
            <integer>1022</integer>
            <integer>1169</integer>
            <integer>1315</integer>
            <integer>1461</integer>
            <integer>1607</integer>
            <integer>1753</integer>
        </array>
        <key>standardDeduction</key>
        <array>
            <integer>155</integer>
            <integer>155</integer>
            <integer>155</integer>
            <integer>168</integer>
            <integer>197</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
        </array>
        <key>netStandard</key>
        <array>
            <integer>981</integer>
            <integer>1328</integer>
            <integer>1675</integer>
            <integer>2021</integer>
            <integer>2368</integer>
            <integer>2715</integer>
            <integer>3061</integer>
            <integer>3408</integer>
            <integer>3755</integer>
            <integer>4102</integer>
            <integer>4449</integer>
            <integer>4796</integer>
        </array>
        <key>grossIncomeLimit</key>
        <array>
            <integer>1276</integer>
            <integer>1726</integer>
            <integer>2177</integer>
            <integer>2628</integer>
            <integer>3078</integer>
            <integer>3529</integer>
            <integer>3980</integer>
            <integer>4430</integer>
            <integer>4881</integer>
            <integer>5332</integer>
            <integer>5783</integer>
            <integer>6234</integer>
        </array>
        <key>grossIncome200</key>
        <array>
            <integer>1962</integer>
            <integer>2655</integer>
            <integer>3349</integer>
            <integer>4042</integer>
            <integer>4735</integer>
            <integer>5429</integer>
            <integer>6122</integer>
            <integer>6815</integer>
            <integer>7509</integer>
            <integer>8202</integer>
            <integer>8895</integer>
            <integer>9589</integer>
        </array>
        <key>standardShelterHomeless</key>
        <integer>143</integer>
        <key>excessIncomeDeduction</key>
        <integer>20</integer>
        <key>excessMedicalDeduction</key>
        <integer>35</integer>
        <key>dependentCareDeduction</key>
        <integer>0</integer>
        <key>minnimumMonthlyAllotment</key>
        <integer>16</integer>
        <key>standardUtilityAllowance</key>
        <integer>510</integer>
        <key>limitedUtilityAllowance</key>
        <integer>328</integer>
        <key>singleUtilityAllowance</key>
        <integer>72</integer>
        <key>standardTelephoneAllowance</key>
        <integer>39</integer>
        <key>limitOnShelterDeduction</key>
        <integer>504</integer>
    </dict>
</plist>
