<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   FoodStamps10-01-2016.plist
   Ohio Legal Services Assistant

   Created by Joshua Goodwin on 10/21/16.
   Copyright (c) 2016 Ohio State Legal Services. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>faAllotment</key>
        <array>
            <integer>194</integer>
            <integer>357</integer>
            <integer>511</integer>
            <integer>649</integer>
            <integer>771</integer>
            <integer>925</integer>
            <integer>1022</integer>
            <integer>1169</integer>
            <integer>1315</integer>
            <integer>1461</integer>
            <integer>1607</integer>
            <integer>1753</integer>
        </array>
        <key>standardDeduction</key>
        <array>
            <integer>157</integer>
            <integer>157</integer>
            <integer>157</integer>
            <integer>168</integer>
            <integer>197</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
            <integer>226</integer>
        </array>
        <key>netStandard</key>
        <array>
            <integer>990</integer>
            <integer>1335</integer>
            <integer>1680</integer>
            <integer>2025</integer>
            <integer>2370</integer>
            <integer>2715</integer>
            <integer>3061</integer>
            <integer>3408</integer>
            <integer>3755</integer>
            <integer>4102</integer>
            <integer>4449</integer>
            <integer>4796</integer>
        </array>
        <key>grossIncomeLimit</key>
        <array>
            <integer>1287</integer>
            <integer>1736</integer>
            <integer>2184</integer>
            <integer>2633</integer>
            <integer>3081</integer>
            <integer>3530</integer>
            <integer>3980</integer>
            <integer>4430</integer>
            <integer>4881</integer>
            <integer>5332</integer>
            <integer>5783</integer>
            <integer>6234</integer>
        </array>
        <key>grossIncome200</key>
        <array>
            <integer>1980</integer>
            <integer>2670</integer>
            <integer>3360</integer>
            <integer>4050</integer>
            <integer>4740</integer>
            <integer>5430</integer>
            <integer>6122</integer>
            <integer>6815</integer>
            <integer>7509</integer>
            <integer>8202</integer>
            <integer>8895</integer>
            <integer>9589</integer>
        </array>
        <key>standardShelterHomeless</key>
        <integer>143</integer>
        <key>excessIncomeDeduction</key>
        <integer>20</integer>
        <key>excessMedicalDeduction</key>
        <integer>35</integer>
        <key>dependentCareDeduction</key>
        <integer>0</integer>
        <key>minnimumMonthlyAllotment</key>
        <integer>16</integer>
        <key>standardUtilityAllowance</key>
        <integer>513</integer>
        <key>limitedUtilityAllowance</key>
        <integer>332</integer>
        <key>singleUtilityAllowance</key>
        <integer>73</integer>
        <key>standardTelephoneAllowance</key>
        <integer>40</integer>
        <key>limitOnShelterDeduction</key>
        <integer>517</integer>
    </dict>
</plist>
