<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faAllotment</key>
	<array>
		<integer>194</integer>
		<integer>357</integer>
		<integer>511</integer>
		<integer>649</integer>
		<integer>771</integer>
		<integer>925</integer>
		<integer>1022</integer>
		<integer>1169</integer>
		<integer>1315</integer>
		<integer>1461</integer>
		<integer>1607</integer>
		<integer>1753</integer>
	</array>
	<key>standardDeduction</key>
	<array>
		<integer>155</integer>
		<integer>155</integer>
		<integer>155</integer>
		<integer>165</integer>
		<integer>193</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
	</array>
	<key>netStandard</key>
	<array>
		<integer>973</integer>
		<integer>1311</integer>
		<integer>1650</integer>
		<integer>1988</integer>
		<integer>2326</integer>
		<integer>2665</integer>
		<integer>3003</integer>
		<integer>3341</integer>
		<integer>3680</integer>
		<integer>4019</integer>
		<integer>4358</integer>
		<integer>4697</integer>
	</array>
	<key>grossIncomeLimit</key>
	<array>
		<integer>1265</integer>
		<integer>1705</integer>
		<integer>2144</integer>
		<integer>2584</integer>
		<integer>3024</integer>
		<integer>3464</integer>
		<integer>3904</integer>
		<integer>4344</integer>
		<integer>4784</integer>
		<integer>5224</integer>
		<integer>5664</integer>
		<integer>6104</integer>
	</array>
	<key>grossIncome200</key>
	<array>
		<integer>1945</integer>
		<integer>2622</integer>
		<integer>3299</integer>
		<integer>3975</integer>
		<integer>4652</integer>
		<integer>5329</integer>
		<integer>6005</integer>
		<integer>6682</integer>
		<integer>7359</integer>
		<integer>8035</integer>
		<integer>8712</integer>
		<integer>9389</integer>
	</array>
	<key>standardShelterHomeless</key>
	<integer>143</integer>
	<key>excessIncomeDeduction</key>
	<integer>20</integer>
	<key>excessMedicalDeduction</key>
	<integer>35</integer>
	<key>dependentCareDeduction</key>
	<integer>0</integer>
	<key>minnimumMonthlyAllotment</key>
	<integer>16</integer>
	<key>standardUtilityAllowance</key>
	<integer>498</integer>
	<key>limitedUtilityAllowance</key>
	<integer>330</integer>
	<key>singleUtilityAllowance</key>
	<integer>73</integer>
	<key>standardTelephoneAllowance</key>
	<integer>39</integer>
	<key>limitOnShelterDeduction</key>
	<integer>490</integer>
</dict>
</plist>
