<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 FoodStamps10-01-2017.plist
 Ohio Legal Services Assistant
 
 Created by Joshua Goodwin on 9/1/2017.
 Copyright (c) 2016 Ohio State Legal Services. All rights reserved.
 -->
<plist version="1.0">
    <dict>
        <key>faAllotment</key>
        <array>
            <integer>192</integer>
            <integer>352</integer>
            <integer>504</integer>
            <integer>640</integer>
            <integer>760</integer>
            <integer>913</integer>
            <integer>1009</integer>
            <integer>1153</integer>
            <integer>1297</integer>
            <integer>1441</integer>
            <integer>1585</integer>
            <integer>1729</integer>
        </array>
        <key>standardDeduction</key>
        <array>
            <integer>160</integer>
            <integer>160</integer>
            <integer>160</integer>
            <integer>170</integer>
            <integer>199</integer>
            <integer>228</integer>
            <integer>228</integer>
            <integer>228</integer>
            <integer>228</integer>
            <integer>228</integer>
            <integer>228</integer>
            <integer>228</integer>
        </array>
        <key>netStandard</key>
        <array>
            <integer>1005</integer>
            <integer>1354</integer>
            <integer>1702</integer>
            <integer>2050</integer>
            <integer>2399</integer>
            <integer>2747</integer>
            <integer>3095</integer>
            <integer>3444</integer>
            <integer>3793</integer>
            <integer>4142</integer>
            <integer>4491</integer>
            <integer>4840</integer>
        </array>
        <key>grossIncomeLimit</key>
        <array>
            <integer>1307</integer>
            <integer>1760</integer>
            <integer>2313</integer>
            <integer>2665</integer>
            <integer>3118</integer>
            <integer>3571</integer>
            <integer>4024</integer>
            <integer>4477</integer>
            <integer>4930</integer>
            <integer>5383</integer>
            <integer>5836</integer>
            <integer>6289</integer>
        </array>
        <key>grossIncome200</key>
        <array>
            <integer>2010</integer>
            <integer>2707</integer>
            <integer>3404</integer>
            <integer>4100</integer>
            <integer>4797</integer>
            <integer>5494</integer>
            <integer>6190</integer>
            <integer>6887</integer>
            <integer>7584</integer>
            <integer>8280</integer>
            <integer>8977</integer>
            <integer>9674</integer>
        </array>
        <key>standardShelterHomeless</key>
        <integer>143</integer>
        <key>excessIncomeDeduction</key>
        <integer>20</integer>
        <key>excessMedicalDeduction</key>
        <integer>35</integer>
        <key>dependentCareDeduction</key>
        <integer>0</integer>
        <key>minnimumMonthlyAllotment</key>
        <integer>15</integer>
        <key>standardUtilityAllowance</key>
        <integer>540</integer>
        <key>limitedUtilityAllowance</key>
        <integer>342</integer>
        <key>singleUtilityAllowance</key>
        <integer>76</integer>
        <key>standardTelephoneAllowance</key>
        <integer>39</integer>
        <key>limitOnShelterDeduction</key>
        <integer>535</integer>
    </dict>
</plist>
